# Project artifacts
/node_modules/

# code coverage
/coverage

# Random excess stuff
.DS_Store
.idea/
.vscode/
yarn-error.log
dist/

# Environment
.env
test-results

**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform
**/terraform.tfvars
**/rules/fingerprint-property-rules.json
**/rules/fingerprint-property-variables.json
**/.terraform.lock.hcl
